.sidepanel {
    position: absolute;
    top:226px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25px;
    height: 340px;
    &__divider {
        width: 2px;
        height: 70px;
        background-color: $text;
    }
    &__text {
        width: 24px;
        height: 150px;
        span {
            display: block;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: $text;
            width: 150px;
            transform: rotate(-90deg) translate(-35%, -260%);
        }
    }
}
